<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>STAYCALM</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        />

        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link active" href="#">STAYCALM</a>
            <a class="nav-link" href="#">Sign-In</a>
            <a class="nav-link" href="#">Log-In</a>
            <a class="nav-link disabled" href="#">Log-Out</a>
        </nav>
    </body>
</html>
