* {
    background-color: aquamarine;
    font-size: large;
    color: blueviolet;
}

.nav-link {
    color: red;
}

.nav-link.disabled {
    color: blueviolet;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.row > div {
    color: blueviolet;
}
