* {
    background-color: aquamarine;
    font-size: large;
    color: blueviolet;
}

.nav-link {
    color: red;
}

.nav-link.disabled {
    color: blueviolet;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
