<%- include('partials/header') %>

<header class="jumbotron">
    <div class="container">
        <h1>WELCOME TO STAYCALM LANDING PAGE</h1>
        <p>
            View our accomodations from all over the USA!!!
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="/listings/new">
                Add New Stay</a
            >
        </p>
    </div>
</header>
