<head>
    <style>
        #back-img {
            background-image: url("https://media-cdn.tripadvisor.com/media/vr-splice-j/06/e4/73/d5.jpg");
        }
    </style>
</head>

<%- include('partials/header') %>

<header class="jumbotron">
    <div class="container">
        <h1>WELCOME TO STAYCALM LANDING PAGE</h1>
        <p>
            <a class="btn btn-primary btn-large" href="/listings/new">
                Add New Stay</a
            >
        </p>
    </div>
</header>
<div>
    <img
        id="back-img"
        src="https://media-cdn.tripadvisor.com/media/vr-splice-j/06/e4/73/d5.jpg"
        alt="mountain scene"
    />
</div>
