<%- include('partials/header') %>
<h1 style="text-align: center; margin: 25px;">
    Create a list for Housing
</h1>

<div class="ui main text container segment">
    <div class="ui huge header">NEW LIST</div>
    <form class="ui form" action="/listings" method="POST">
        <div class="field">
            <label>name</label>
            <input type="text" name="list[name]" placeholder="name" />
        </div>
        <div class="field">
            <label>LastName</label>
            <input type="text" name="list[lastName]" placeholder="Last Name" />
        </div>
        <div class="field">
            <label>HouseType</label>
            <input
                type="text"
                name="list[houseType]"
                placeholder="House Type"
            />
        </div>
        <div class="field">
            <label>Description</label>
            <input
                type="text"
                name="list[description]"
                placeholder="Description"
            />
        </div>
        <div class="field">
            <label>Address</label>
            <input type="text" name="list[address]" placeholder="Address" />
        </div>
        <div class="field">
            <label>City</label>
            <input type="text" name="list[city]" placeholder="city" />
        </div>
        <div class="field">
            <label>State</label>
            <input type="text" name="list[state]" placeholder="State" />
        </div>
        <div class="field">
            <label>Zip</label>
            <input type="text" name="list[zip]" placeholder="Zip" />
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="list[image]" placeholder="Image" />
        </div>

        <div class="field">
            <label>Price</label>
            <input type="text" name="list[price]" placeholder="Price per day" />
        </div>

        <input class="ui inverted big primary button" type="submit" />
    </form>
</div>

<a href="/listings" style="text-align: center;">GO BACK</a>
<%- include('partials/footer') %>
