<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header" style="text-align: center;">SIGN-UP</div>
    <form action="/register" class="ui form" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="username" placeholder="username" />
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" />
        </div>

        <div class="flex-box">
            <div>
                <input class="ui inverted big primary button" type="submit" />
            </div>
            <div>
                <strong>
                    <a href="/login">Please Click here for LOG-IN!</a></strong
                >
            </div>
        </div>
    </form>
</div>
