<html>
    <head>
        ​
        <!-- <script>
            $(document).ready(function () {
                $("p").click(function () {
                    $(this).hide();
                });
            });
        </script> -->
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>This is for valued User on StayCalm</h1>

        <li><a href="/register">Sign Up!</a></li>
        <li><a href="/login">Login!</a></li>
        <li><a href="/logout">Logout!</a></li>

        <hr />

        <a href="/listings/new">Please Click For Listing</a>
    </body>
</html>
