body {
    background-color: bisque;
    min-height: 100%;
}

.wrapper {
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.logo {
    justify-self: center;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-rows: 80px 400px 80px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;

    grid-template-areas:
        "h h h h h h h h h h h h"
        "s c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    justify-content: center;
    align-content: center;
}

.subheader {
    display: grid;
    background-color: red;
    border-color: aqua;
    font-size: 35px;
    grid-row: 1/-1;
    grid-area: h;
    justify-content: stretch;
}

.content {
    background-color: blue;
    border-color: aqua;
    font-size: 35px;
    grid-column: 1/-1;
    grid-area: c;
    justify-content: stretch;
}

.sidebar {
    background-color: red;
    border-color: aqua;
    font-size: 35px;
    grid-column: 2/-1;
    grid-area: s;
    justify-content: stretch;
}

.footer {
    background-color: blue;
    border-color: aqua;
    font-size: 35px;
    /* grid-column: 2/-1; */
    grid-area: f;
    justify-content: stretch;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 400px 80px 40px;

        grid-template-areas:
            "h"
            "c"
            "s"
            "f";
    }
}

.flex-box {
    display: flex;
    flex-grow: initial;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: initial;
    flex-basis: content;
    flex-flow: row;
}

.flex-box > div:nth-child(2) {
    margin-left: auto;
}

.flex-box > div:nth-child(1) {
    margin-left: initial;
}
