/* body {
    background-color: bisque;
    min-height: 100%;
} */

.wrapper {
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    align-content: center;
    justify-content: center;
}
.welcome {
    border-color: aqua;
    font-size: 35px;
    justify-content: stretch;
}

.reg {
    border-color: aqua;
    font-size: 35px;
    justify-content: stretch;
}

.searches {
    border-color: aqua;
    font-size: 35px;
    justify-content: stretch;
}

.logo {
    justify-self: center;
}

.flex-box {
    display: flex;
    flex-grow: initial;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: initial;
    flex-basis: content;
    flex-flow: row;
}

.flex-box > div:nth-child(2) {
    margin-left: auto;
}

.flex-box > div:nth-child(1) {
    margin-left: initial;
}
